# Assignment 4

### Data

In [22]:
# Import libraries
import pandas as pd
import sys

In [23]:
data = pd.read_csv('./data.csv')
print(data)

   airline    destination  on time  delayed
0   ALASKA    Los Angeles      497       62
1   ALASKA        Phoenix      221       12
2   ALASKA      San Diego      212       20
3   ALASKA  San Francisco      503      102
4   ALASKA        Seattle     1841      305
5  AM WEST    Los Angeles      694      117
6  AM WEST        Phoenix     4840      415
7  AM WEST      San Diego      383       65
8  AM WEST  San Francisco      320      129
9  AM WEST        Seattle      201       61

# Analysis

## Higher percentage of delay

In [24]:
data['delay_percentage'] = data['delayed']/(data['on time']+data['delayed'])
print(data.sort_values(['delay_percentage'], ascending=False))

   airline    destination  on time  delayed  delay_percentage
8  AM WEST  San Francisco      320      129          0.287305
9  AM WEST        Seattle      201       61          0.232824
3   ALASKA  San Francisco      503      102          0.168595
7  AM WEST      San Diego      383       65          0.145089
5  AM WEST    Los Angeles      694      117          0.144266
4   ALASKA        Seattle     1841      305          0.142125
0   ALASKA    Los Angeles      497       62          0.110912
2   ALASKA      San Diego      212       20          0.086207
6  AM WEST        Phoenix     4840      415          0.078972
1   ALASKA        Phoenix      221       12          0.051502

desLooking at the delay percentage, we can see that San Francisco is in the top 3 regardless of the airline. We can say that this destination should improve the way they manage their flights to improve their performance.

## Delay by airline and destination

We will apply a groupBy function on the DataFrame and analyze the percentage of delay.

In [25]:
df_by_airline = data.groupby('airline')[['on time', 'delayed']].sum()
df_by_airline['delay_percentage'] = df_by_airline['delayed']/(df_by_airline['on time']+df_by_airline['delayed'])
df_by_airline

         on time  delayed  delay_percentage
airline
ALASKA      3274      501          0.132715
AM WEST     6438      787          0.108927

We can see that ALASKA has a bit more delay percentage, but the difference is not that big. We can also see that AM WEST has many more flights than ALASKA, and that can influence the analysis

-----

In [26]:
df_by_destination = data.groupby('destination')[['on time', 'delayed']].sum()
df_by_destination['delay_percentage'] = df_by_destination['delayed']/(df_by_destination['on time']+df_by_destination['delayed'])
df_by_destination

               on time  delayed  delay_percentage
destination
Los Angeles       1191      179          0.130657
Phoenix           5061      427          0.077806
San Diego          595       85          0.125000
San Francisco      823      231          0.219165
Seattle           2042      366          0.151993

In [27]:
print(df_by_destination.sort_values(['delay_percentage'], ascending=False))

               on time  delayed  delay_percentage
destination
San Francisco      823      231          0.219165
Seattle           2042      366          0.151993
Los Angeles       1191      179          0.130657
San Diego          595       85          0.125000
Phoenix           5061      427          0.077806

On the other hand, if we look by destination, the difference between the one with the highest percentage of delay and the second is more significant than that of the airline.