# Assignment 3

### Data

In [2]:
# Import libraries
import pandas as pd
import sys

In [1]:
data = [55, 120]
print(data)

[55, 120]

### Pandas Dataframe with data

In [4]:
df_data = pd.DataFrame(columns=["Odometer"], data=data)
df_data

   Odometer
0        55
1       120

### Miles by day

In [9]:
df_data['MileByDay'] = df_data["Odometer"].diff().fillna(df_data['Odometer'])
df_data['MileByDay'] = df_data["Odometer"].diff().fillna(df_data['Odometer'])
df_data

   Odometer  MileByDay
0        55       55.0
1       120       65.0